In [1]:
import numpy as np
import pandas as pd

In [2]:
movies_df=pd.read_csv(r"C:\\Users\Student\Desktop\movies.csv")
ratings_df=pd.read_csv(r"C:\\Users\Student\Desktop\ratings.csv")
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

In [4]:
movies_df['year']=movies_df.title.str.extract('(\(\d\d\d\d\))', expand=False)
movies_df['year']=movies_df.year.str.extract('(\d\d\d\d)', expand=False)
movies_df['title']=movies_df.title.str.replace('(\(\d\d\d\d\))','')
movies_df['title']=movies_df['title'].apply(lambda x: x.strip())

C:\Users\Student\AppData\Local\Temp\ipykernel_9796\1619557762.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  movies_df['title']=movies_df.title.str.replace('(\(\d\d\d\d\))','')

In [5]:
movies_df['genres']=movies_df.genres.str.split('|')
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995